/* Reset and Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: steelblue;
    font-family: 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

.page {
    width: 80%; /* Adjusted to make it responsive */
    background-color: azure;
    margin: 30px auto;
    padding: 40px 10%;
    border-radius: 10px; /* Adding rounded corners */
}

/* Titles and Headings */

h1 {
    font-weight: 900;
    background: #B0E0E6; /* PowderBlue */
    text-align: center;
    padding: 40px 0;
    font-size: 55px;
    border-radius: 10px;
    margin-bottom: 20px; /* Provide some space after title */
}

/* Grid and Layout */

.pure-g {
    margin-bottom: 30px;
}

.pure-g1 {
    margin-bottom: 0;
    padding-left: 20px;
}

/* Description and Visualizations */

.description h2, .chart-title h2 {
    margin-top: 20px;
    padding: 10px;
    background-color: #5F9EA0; /* CadetBlue - Darker accent for headers */
    border-radius: 10px;
}

.vis-container {
    width: 100%;
    border-radius: 10px; /* Adding rounded corners to visualization containers */
}

.description, .chart-content {
    background-color: #E0FFFF; /* Light Cyan */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.small-font {
    font-size: 14px;
}

/* Footer */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #B0E0E6;
    font-size: 14px;
    border-radius: 10px;
}

footer a {
    color: #5F9EA0; /* CadetBlue */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Enhancements for Calming Elements */

.button, .section-btn, .viz-btn {
    border-radius: 20px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.button:hover, .section-btn:hover, .viz-btn:hover {
    background-color: #3D5A80; /* Slightly darker blue on hover */
}
