/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease; /* Smooth transitions */
}

body {
    background-color: #AEDFF7; /* Pastel Blue Background */
    font-family: Arial, sans-serif;  /* Set font for body */
    font-size: 16px;  /* Increase base font size */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif; /* Set font for headings */
    text-align: center; /* Ensure headings are centered */
}

.page {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #E0F2FE;
    border-radius: 15px;
}

/* Titles and Headings */

h1 {
    text-align: center;
    padding: 20px;
    background-color: #5A8BAF; /* Darker Pastel Blue */
    border-radius: 15px;
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
    margin-bottom: 20px; /* Add some spacing between paragraphs */
}


/* Grid System for the Content */

/* 2 sub-columns style */
.pure-g > .pure-u-1-3 {
    width: 33.33%;
}

.pure-g > .pure-u-2-3 {
    width: 66.66%;
}


.pure-g > .pure-u-1-2 {
    width: 50%;
}

/* full width style for prominent charts */
.pure-g > .pure-u-1 {
    width: 100%;
    align-items: center;
    justify-content: center;

}

/* Description and Visualizations */

.description, .chart-title, .section-title, .title-block {
    background-color: #5A8BAF; /* Darker Pastel Blue for titles */
    padding: 15px;
    border-radius: 15px;
    margin: 20px 0;
    color: white;
}

.vis-container {
    width: 100%;
    border-radius: 15px;
    background-color: #BFDFFA; /* Slightly Darker Pastel Blue for visual area */
    padding: 20px;
}

/* Footer Styles */

footer {
    text-align: center;
    padding: 20px;
    background-color: #E0F2FE; /* Lighter Pastel Blue */
    font-size: 14px;
    border-radius: 15px;
}

footer a {
    color: #5A8BAF; /* Darker Pastel Blue */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
